html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* background:hsl(0, 75%, 40%) ; */
    background:hsl(176, 80%, 20%) ;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 70px;
    font-weight: 1000;
    color: #FCB5AC;
    -webkit-text-stroke: 2px black;
}

h2 {
    font-size: 25px;
    color: #FCB5AC;
}

.header {
    flex: 1.5;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

button {
    font-size: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    background: #B5E5CF;
    padding: 10px;
    border: 2px solid black;
}

button:hover, select:hover {
    box-shadow: 0 0 10px  #B5E5CF;
}

select {
    font-size: 20px;
    margin-left: 40px;
    background: #B5E5CF;
    padding: 10px;
    border: 2px solid black;
}

.menu {
    flex: 1;
    width: 100%;
    text-align: center;
    padding-top: 27px;
}

.grid-container {
    background: white;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.grid-box {
    border: 1px solid black;
}

@media all and (max-width: 500px) {
    .wrapper {
        height:500px;
        width: 500px;
    }
}